.venv
venv
.env
.git
**/__pycache__
**/*.pyc
.pytest_cache
.ruff_cache

feature_extraction/_runs
notebooks
video-editor

cv-pipeline/pose-detection/media
cv-pipeline/pose-detection/out
cv-pipeline/calibration/out
data/*.mp4

.DS_Store
*.egg-info
